@font-face {
    font-family: $getSchwifty;
    src: url('../fonts/get_schwifty.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $robotoRegular;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $robotoMedium;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}