.section-cards-rm {
    padding: 80px 0;

    .container {
        .wubba-lubba-dub-dub {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;

            .rm-card {
                width: 100%;
                margin: 0 0 32px;
                justify-content: space-between;
                background-color: $white;
                border-radius: 16px;
                overflow: hidden;

                @media screen and (min-width: $screen-md) {
                    width: calc(50% - 16px);
                    margin: 0 32px 32px 0;
                }

                &:nth-child(even) {
                    margin-right: 0;
                }

                .card-title-wrapper {
                    padding: 24px 16px;
                    text-align: center;
                    font-family: $getSchwifty;
                    font-size: 40px;
                    line-height: 48px;
                    background-color: $green;
                    color: $light-blue;
                    text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black, 0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black;
                    box-shadow: 5px 2px 15px $black;
                    position: relative;
                }

                .card-content-wrapper {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    padding: 24px;

                    @media screen and (min-width: $screen-xl) {
                        flex-direction: row;
                    }

                    .card-content {
                        display: flex;
                        flex-direction: column;

                        &:last-child {
                            width: 100%;
                            align-items: center;
                            margin-top: 32px;

                            @media screen and (min-width: $screen-xl) {
                                margin-left: 32px;
                            }
                        }

                        .character-img {
                            max-width: 200px;
                            width: 100%;
                            border: 2px solid black;

                            @media screen and (min-width: $screen-xl) {
                                max-width: 300px;
                            }
                        }

                        .character-name {
                            font-size: 32px;
                            text-shadow: 2px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black, 0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black;
                            font-family: $getSchwifty;
                            color: $name-color;

                            @media screen and (min-width: $screen-xl) {
                                font-size: 40px;
                            }
                        }

                        .character-info-wrapper {
                            margin-top: 24px;
                            width: 100%;
                            text-align: center;

                            @media screen and (min-width: $screen-xl) {
                                text-align: left;
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                            }

                            .character-column {
                                @media screen and (min-width: $screen-xl) {
                                    width: 50%;
                                    margin-bottom: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}