$getSchwifty: 'Get Schwifty';
$robotoRegular: 'roboto-regular', sans-serif;
$robotoMedium: 'roboto-medium', sans-serif;

$xs: 320px; // smartphone
$sm: 456px; // tablet portrait
$md: 769px; // tablet landscape
$lg: 1025px; // desktop
$xl: 1281px;

$screen-sm : $sm;
$screen-sm-max: $md - 1;
$screen-md: $md;
$screen-md-max: $lg - 1;
$screen-lg: $lg;
$screen-lg-max: $xl - 1;
$screen-xl: $xl;

$black : #000;
$white : #FFFFFF;
$green : #4A9341;
$light-blue : #47BFD8;
$name-color: #297888;